version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    command: uv run gunicorn config.wsgi:application --bind 0.0.0.0:8000 --chdir config
    volumes:
      - .:/app
      - ./static:/app/static 
      - ./media:/app/media    
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:1.25-alpine
    restart: always
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static:/app/static  
      - ./media:/app/media    
    ports:
      - "80:80"
    depends_on:
      - web

  db:
    image: postgres:15-alpine
    volumes:
      - ./pg_data:/var/lib/postgresql/data 
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}

  redis:
    image: redis:7-alpine
    expose:
      - 6379
